
%div{:class=>"row journey"}
  %div{:class=>"column journey"}

%p
  %b Travel time:
  = @journey.travel_stamp.to_s :short
%p
  %b Place:
  = @journey.place

- @journey.possible_matches.each do |m|
  %p
    = m.user.email
    %a{:class=>"ride_request"}Request to ride

= link_to 'Edit', edit_journey_path(@journey)
\|
= link_to 'Back', journeys_path
