
%div{:class=>"row journey"}
  %div{:class=>"column journey"}

%p
  %b Travel time:
  = @journey.travel_stamp.to_s :short
%p
  %b Place:
  = @journey.place

- @matches.each do |m|
  %p
    = m.user.truncated_email
    - unless @sent_requests.include?(m.id)
      = puts m.id
      = link_to "Request to ride", "/journeys/"+@journey.id.to_s+"/?request_to_ride="+m.id.to_s
    -else
      [Request has already been sent]
    
= link_to 'Edit', edit_journey_path(@journey)
\|
= link_to 'Back', journeys_path
